/**
* @author qiqingfu
* @date 2020-01-05 13:52
*/
@import "../base/mixins";

.tab {
	width: 100%;
	display: block;
	padding: 12px 20px;
	box-sizing: border-box;
	position: relative;
	@include clearfix();

	& > .push-right {
		float: right;
	}

	& > .push-left {
		float: left;
	}
}

// container
.container {
	position: relative;

	&.menu {
		position: relative;
		padding: 12px 100px 12px 6px;
		background-color: #fff;
	}

	&.padding {
		padding: 20px 60px;
		box-sizing: border-box;
	}

	&.margin {
		margin: 20px 40px;
	}
}
