@charset "UTF-8";

/* variable variable of the current project
------------------------- */

/* 字体
------------------------- */
$--font: 'Helvetica Neue', helvetica, Microsoft Yahei, Arial, sans-serif;
$--font-size: 12px;

/* 主题颜色
 * light: 偏亮色
 * dark:  偏暗色
------------------------- */
$theme-primary-color: #1890FF;
$theme-light-primary-color: #1890FF;
$theme-dark-primary-color: #1890FF;

/* 内容颜色
------------------------- */
$content-color: #2B3245;

/* 选中颜色
------------------------- */

/* 边框颜色
------------------------- */

/* 背景颜色
------------------------- */
$content-background-color: #F8F8F8;

/* 容器层级
------------------------- */

/* form表单尺寸
------------------------- */

$theme: #5ebb8d;

